{% extends 'base.html.twig' %}



{% block body %}
<script src="//cdn.auth0.com/js/lock/10.0/lock.min.js"></script>
<script type="text/javascript">

  var lock = new Auth0Lock('BWE7WnRrn4Ms93m1YX1Yvp1IsgKbIMqI', 'ahsan.eu.auth0.com');


  function signin() {
    lock.show({
        callbackURL: 'http://localhost:8000/auth0/callback'
      , responseType: 'code'
      , authParams: {
        scope: 'openid email'  // Learn about scopes: https://auth0.com/docs/scopes
      }
    });
  }
</script>
<button onclick="window.signin();">Login</button>
{% endblock %}